<!--TODO: Estilizar-->
{% extends 'base.html' %}

    {% block head_block %}
    <title>Cadastre-se</title>
    {% endblock %}
    
    {% block body_block %}
      <div class="container">
      <br>
        <h2 class = " text-center" >Cadastre-se</h2>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class= "btn btn-primary">Enviar</button>
        </form>
        
        <a href="{{login_url}}">
          Login
        </a> 
      </div>
    {% endblock %}
