{% extends 'base.html' %}

{% block head_block %}
    <title> {{course.name}} </title>
{% endblock %}

{% block body_block %}
<br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">{{course.name}}</h1>
        <p class="lead">{{course.owner}}</p>
        
        <p>{{course.description}}</p>
        <hr class="my-2">
        {% if user in course.participants.all or is_owner %}
        <p>
            <h5> Aulas </h5>
            <div id="accordion">
                {% for lesson in lessons %}
                    <div class = "card bg-light mb-3">
                        <div class="card-header" id="heading-{{lesson.id}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{lesson.id}}" aria-expanded="false" aria-controls="collapse-{{lesson.id}}">
                                {{lesson}}
                                </button>
                            </h5>
                            </div>

                            <div id="collapse-{{lesson.id}}" class="collapse" aria-labelledby="heading-{{lesson.id}}" data-parent="#accordion">
                            <div class="card-body">
                                {% if is_owner %}
                                    <p>Chave de check-in: {{lesson.auth_code}}</p>
                                {% endif %}
                                <div class="list-group">
                                    {% if lesson.attendants.all %}
                                        {% for attendant in lesson.attendants.all %}
                                            <li class="list-group-item">{{attendant}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="list-group-item">Nenhum aluno fez check-in ainda!</li>
                                    {% endif %}
                                    {% if is_owner %}
                                        <li class = "list-group-item">
                                        {% if lesson.on_going %}
                                            <a class="btn btn-danger" href="{% url 'close_lesson' id=lesson.id %}" role="button">Encerrar Aula</a>
                                        {% else %}
                                            <a class="btn btn-primary" href="{% url 'open_lesson' id=lesson.id %}" role="button">Abrir Aula</a>
                                        {% endif %}
                                        <a class="btn btn-danger" href="{% url 'remove_lesson' id=lesson.id %}" role="button">Deletar Aula</a>
                                        </li>
                                    {% else %}
                                        {% if lesson.on_going %}
                                            {% if user in lesson.attendants.all %}
                                            <li class="list-group-item list-group-item-success">Check-in realizado</li>
                                            {% else %}
                                            <br>
                                            <form method="POST" class="form-inline" action="{% url 'check_in_lesson' lesson_id=lesson.id %}">
                                                <p>
                                                {% csrf_token %}
                                                {{ check_in.auth_code }}
                                                <button type="submit" class= "btn btn-primary"> Check In! </button>
                                                </p>
                                            </form>
                                            {% endif %}
                                        {% else %}
                                        <li class="list-group-item list-group-item-danger">Aula Encerrada</li>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
        </p>
        {% endif %}
        {% if is_owner %}
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'course_report' id=course.id %}" role="button">Gerar Relatório</a>
            <a class="btn btn-primary btn-lg" href="{% url 'new_lesson' course_id=course.id %}" role="button">Adicionar Aula</a>
        </p>
        {% elif user not in course.participants.all %}
        <p class="lead">
            <form method="POST" class="form-inline" action="{% url 'subscribe_course' course_id=course.id %}">
                <p>
                {% csrf_token %}
                {{ subscribe.course_key }}
                <button type="submit" class= "btn btn-primary"> Inscreva-se </button>
                </p>
            </form>
        </p>
        {% else %}
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Gerar Relatório</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}